/*Starts Here*/
body {
  font-family: 'Roboto', sans-serif;
}

.about-container {
  max-width: 90%;
}

.foot-container {
  max-width: 85%;
}

@media (min-width: 640px) {
  .nav-container {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1368px) {
  .lg-container {
    max-width: 85%;
  }
}

.nav-ele {
  padding: 6px 20px 0px 20px;
  display: inline-block;
  justify-content: center;
  transition: all ease smooth 0.3s;
}

.nav-ele:hover {
  border-bottom: 3px solid black;
  .nav-sub {
    opacity: 1;
    z-index: 99;
    margin-top: 6px;
  }
}

.nav-sub {
  position: absolute;
  border-radius: 10px;
  margin-top: -50px;
  margin-left: -30px;
  width: 120px;
  padding: 10px 0px 10px 10px;
  background-color: #ffffff;
  box-shadow: 0 5px 25px #c4c4c4;
  opacity: 0;
  z-index: -999;
  transition: all ease 0.5s;
}

@media (min-width: 1368px) {
  .md-container {
    max-width: 70%;
  }
}

@media (min-width: 639px) {
  .newarrh {
    margin-top: 32px;
  }
}

@media (max-width: 638px) {
  .newarrh {
    margin-top: 20px;
  }
}

@media (max-width: 1279px) {
  .card-container {
    margin-top: 20px;
    margin-left: 40px;
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 1368px) {
  .headertext {
    justify-content: center;
    margin-top: 20px;
  }
}

.hero-text {
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  color: #9a9a9a;
}

.display-4 {
  font-size: 3.5rem;
}

.lead {
  font-size: 1.25rem;
}

.bg-custom {
  background-color: black;
  padding: 5px 15px 5px 20px;
  border-radius: 35px;
  display: inline; /* or inline-block */
}

.hover-image {
  transition: 1s;
}

.hover-col:hover .hover-image {
  opacity: 0.8; /* Adjust the opacity value as desired */
}

.hover-col .hover-content {
  display: none;
}

.hover-col:hover .hover-content {
  z-index: 9999;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px; 
  padding: 10px;
}

.arr-img1 {
  border-radius: 45px 0px 0px 45px;
  transition: transform 0.6s ease-in-out, filter 0.6s ease-in-out;
}

.arr-img1:hover {
  filter: brightness(0.8); /* Darkens the image */
  transform: scale(1.1); /* Scales the image */
}

.arr-img {
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.arr-img:hover {
  filter: brightness(0.8); /* Darkens the image */
  transform: scale(1.1); /* Scales the image */
}

.feat-card {
  position: absolute;
  text-align: center;
  bottom: 6%;
  left: 10%
}

.headerback {
  background-color: #38332d;
}

.headerimg {
  object-fit: center;
}

.nav-c {
  width: 88%;
  position: relative;
  z-index: 2;
}

.headerdec {
  font-weight: 500;
  font-size: clamp(30px, 3vw, 56px);
  text-align: left;
}

.modal-back {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.size {
  max-width: 80%;
  max-height: 80%;
}

.content {
  border-radius: 17px;
}

.animeY {
  display: block;
  transform: translateY(100px);
  opacity: 0;
}

.animeY2 {
  display: block;
  transform: translateY(-70px);
  opacity: 0;
}

.animeX {
  display: block;
  transform: translateX(-100px);
  opacity: 0;
}

.animeX2 {
  display: block;
  transform: translateX(80px);
  opacity: 0;
}

.cart-container {
  position: relative;
}

.cart-container .overlay {
  position: absolute;
  border-radius: 25px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.cart-container:hover .overlay {
  opacity: 1;
}

.overlay .close-icon {
  color: white;
  font-size: 24px;
  margin: 10px;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: #ffffff; /* Change the color */
  background-color: black;
  border-radius: 10px;
}

.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
  font-size: 20px; 
}

.mySwiper .swiper-pagination-bullet {
  background-color: #ffffff; /* Change the color of the bullets */
  opacity: 0.6; /* Adjust the opacity of inactive bullets */
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #ffffff; /* Change the color of the active bullet */
  opacity: 1; /* Adjust the opacity of the active bullet */
}

.swiper-button-next {
  top: 45%;
  color: wheat;
  padding-right: 5px;
}

@media (max-width: 639px) {
  .swiper-button-next {
    top: 38%;
    scale: 0.7;
  }
}
